* {
    margin: 0;
    padding: 0;
}

$size: 50px;

header {
    text-align: center;
    line-height: $size;
    width: 100%;
    height: $size;
    background-color: red;
    color: white
}

.weui-tabbar{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.weui-panel__ft{
    margin-bottom: 62px;
}