<dl class="list list-in">
    <dd class="icon-wrapper h_gesture_" style="height: 3.3rem;">
        <ul class="icon-list page current">
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/1" data-stid_b="1"
                    href="//meishi.meituan.com/i/?ci=20">
                    <span class="new-icon-circle iconfont meishi" style="background: #fd9d21"></span>
                    <span class="icon-desc">美食</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/99" data-stid_b="1"
                    href="//m.maoyan.com/imeituan/?_v_=yes&amp;my_traffic_sources=group&amp;ci=20">
                    <span class="new-icon-circle iconfont dianying" style="background: #ff6767"></span>
                    <span class="icon-desc">猫眼电影</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/20"
                    href="https://i.meituan.com/awp/h5/hotel/search/search.html" data-stid_b="1">
                    <span class="new-icon-circle iconfont jiudian" style="background: #8a90fa"></span>
                    <span class="icon-desc">酒店</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/2" data-stid_b="1"
                    href="//i.meituan.com/guangzhou/all/?cid=2&amp;cateType=poi">
                    <span class="new-icon-circle iconfont xiuxianyule" style="background: #fed030"></span>
                    <span class="icon-desc">休闲娱乐</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/394"
                    href="https://openapi.waimai.meituan.com/openh5/entrance?type=main_page&amp;utm_source=60030&amp;channel=mtib"
                    data-stid_b="1">
                    <span class="new-icon-circle iconfont waimai" style="background: #fd9d21"></span>
                    <span class="icon-desc">外卖</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/10" data-stid_b="1"
                    href="//i.meituan.com/guangzhou/all/?cid=10&amp;cateType=poi">
                    <span class="new-icon-circle iconfont ktv" style="background: #fed030"></span>
                    <span class="icon-desc">KTV</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/195"
                    href="//i.meituan.com/trip/lvyou/triplist/poi/" data-stid_b="1">
                    <span class="new-icon-circle iconfont zhoubianyou" style="background: #4dc6ee"></span>
                    <span class="icon-desc">周边游</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/22" href="/catehome/22">
                    <span class="new-icon-circle iconfont liren" style="background: #ff80c2"></span>
                    <span class="icon-desc">丽人</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/36" data-stid_b="1"
                    href="//i.meituan.com/guangzhou/all/?cid=36&amp;cateType=poi">
                    <span class="new-icon-circle iconfont xiaochikuaican" style="background: #fd9d21"></span>
                    <span class="icon-desc">小吃快餐</span></a>
            </li>
            <li class="icon">
                <a style="display:block" gaevent="imt/homepage/category1/99999"
                    href="//i.meituan.com/category?city=guangzhou">
                    <span class="new-icon-circle iconfont quanbu" style="background: #00d3be"></span>
                    <span class="icon-desc">全部分类</span></a>
            </li>
        </ul>
        <ul class="list-ico list">
        </ul>
    </dd>
</dl>