<div id="guessLike" class="guess-like">
    <dl class="list" style="opacity: 1;">
        <dd>
            <dl class="list bd-deal-list" style="opacity: 1;">
                <dt>猜你喜欢</dt>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/44919500"
                        data-stid="081153232802528897314002980212735700434_c0_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="44919500">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/fd0ce2fd3a85aa113ab251c456deb59598470.jpg@267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/fd0ce2fd3a85aa113ab251c456deb59598470.jpg@267h_267w_2e_90Q"
                                data-com="unveil" style="background: none;"><img
                                    src="//p0.meituan.net/200.0/deal/fd0ce2fd3a85aa113ab251c456deb59598470.jpg@267h_267w_2e_90Q"
                                    style="width: 100%;"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">Pelicana百利家炸鸡</div>

                                <div class="title text-block">[广州等]摇滚三宝1份，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">9.8</span><span class="strong-color">元</span>
                                    <del>18元</del>
                                    <span class="line-right">
                                        已售70465
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/42871642"
                        data-stid="019032296837928515275757042931456002187_c1_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="42871642">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/40f9cfbd8c8a17f45850b1cfa63a520075722.jpg@131_0_488_488a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/40f9cfbd8c8a17f45850b1cfa63a520075722.jpg@131_0_488_488a%7C267h_267w_2e_90Q"
                                data-com="unveil" style="background: none;"><img
                                    src="//p0.meituan.net/200.0/deal/40f9cfbd8c8a17f45850b1cfa63a520075722.jpg@131_0_488_488a%7C267h_267w_2e_90Q"
                                    style="width: 100%;"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">巴喜阳光BBQ自助餐厅</div>

                                <div class="title text-block">[体育中心]单人自助午餐</div>
                                <div class="price">
                                    <span class="strong">58</span><span class="strong-color">元</span>
                                    <span class="tag">新客减9</span>
                                    <span class="line-right">
                                        已售46746
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/42742023"
                        data-stid="019032296837928515275757042931456002187_c2_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="42742023">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/638cde5030f736c729591f3590a6a07f22591.jpg@90_0_279_279a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/638cde5030f736c729591f3590a6a07f22591.jpg@90_0_279_279a%7C267h_267w_2e_90Q"
                                data-com="unveil" style="background: none;"><img
                                    src="//p1.meituan.net/200.0/deal/638cde5030f736c729591f3590a6a07f22591.jpg@90_0_279_279a%7C267h_267w_2e_90Q"
                                    style="width: 100%;"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">大岗仙庙烧鸡</div>

                                <div class="title text-block">[9店通用]3-4人排骨套餐</div>
                                <div class="price">
                                    <span class="strong">128</span><span class="strong-color">元</span>
                                    <del>149元</del>
                                    <span class="line-right">
                                        已售23992
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/55072278"
                        data-stid="081153232802528897314002980212735700434_c3_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="55072278">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/da2559b4481ab01c2e0e5db5abd01e2135077.jpg@55_0_329_329a%7C267h_267w_2e_100Q"
                                data-src-high="//p1.meituan.net/200.0/deal/da2559b4481ab01c2e0e5db5abd01e2135077.jpg@55_0_329_329a%7C267h_267w_2e_100Q"
                                data-com="unveil" style="background: none;"><img
                                    src="//p1.meituan.net/200.0/deal/da2559b4481ab01c2e0e5db5abd01e2135077.jpg@55_0_329_329a%7C267h_267w_2e_100Q"
                                    style="width: 100%;"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">大王卜卜贝火锅</div>

                                <div class="title text-block">[龙洞]大王特惠套餐，建议2-3人使用</div>
                                <div class="price">
                                    <span class="strong">28</span><span class="strong-color">元</span>
                                    <del>58元</del>
                                    <span class="line-right">
                                        已售6142
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/31354435"
                        data-stid="019032296837928515275757042931456002187_c4_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="31354435">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/9f3da31141c8323fb0d4397d38a6f28447776.jpg@100_0_400_400a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/9f3da31141c8323fb0d4397d38a6f28447776.jpg@100_0_400_400a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">汤响自助回转火锅百汇</div>

                                <div class="title text-block">[7店通用]单人自助火锅午餐</div>
                                <div class="price">
                                    <span class="strong">45</span><span class="strong-color">元</span>
                                    <del>59元</del>
                                    <span class="line-right">
                                        已售139446
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/49100103"
                        data-stid="019032296837928515275757042931456002187_c5_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="49100103">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/efb5ad3574d94c9d6504d5ebd5be9fc9132678.jpg@200_0_800_800a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/efb5ad3574d94c9d6504d5ebd5be9fc9132678.jpg@200_0_800_800a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">大师兄 肉夹馍·陕西面馆</div>

                                <div class="title text-block">[21店通用]老潼关肉夹馍1份</div>
                                <div class="price">
                                    <span class="strong">9.9</span><span class="strong-color">元</span>
                                    <del>13元</del>
                                    <span class="line-right">
                                        已售36290
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/56520280"
                        data-stid="081153232802528897314002980212735700434_c6_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="56520280">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/cefe16061b66825ab42533a98a7b611a189341.jpg@101_0_1080_1080a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/cefe16061b66825ab42533a98a7b611a189341.jpg@101_0_1080_1080a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">蛙鱼记·酸菜鱼</div>

                                <div class="title text-block">[龙洞]❤铁锅牛蛙双人餐</div>
                                <div class="price">
                                    <span class="strong">68.8</span><span class="strong-color">元</span>
                                    <del>92元</del>
                                    <span class="line-right">
                                        已售2008
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd id="seven">
                    <a href="//meishi.meituan.com/i/deal/42470724"
                        data-stid="019032296837928515275757042931456002187_c7_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="42470724">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/9fb71f24ff7e6bd6d71cbcc824caf019329883.jpg@75_0_450_450a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/9fb71f24ff7e6bd6d71cbcc824caf019329883.jpg@75_0_450_450a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">至尊比萨-手工披萨</div>

                                <div class="title text-block">[39店通用]超值比萨双人餐，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">38</span><span class="strong-color">元</span>
                                    <span class="tag">立减8.1元</span>
                                    <span class="line-right">
                                        已售22992
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/30844976"
                        data-stid="019032296837928515275757042931456002187_c8_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="30844976">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/d4f42e84a238924456d0a77995d5788b75747.jpg@100_0_600_600a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/d4f42e84a238924456d0a77995d5788b75747.jpg@100_0_600_600a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">银记肠粉店</div>

                                <div class="title text-block">[13店通用]劲爆双人餐，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">43.8</span><span class="strong-color">元</span>
                                    <del>62元</del>
                                    <span class="line-right">
                                        已售31143
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/45693375"
                        data-stid="019032296837928515275757042931456002187_c9_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="45693375">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/2c1242fdbe8e9a8466272d8faf64eac853615.jpg"
                                data-src-high="//p0.meituan.net/200.0/deal/2c1242fdbe8e9a8466272d8faf64eac853615.jpg"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">袁记饺子云吞连锁店</div>

                                <div class="title text-block">[4店通用]20元代金券1张，可叠加</div>
                                <div class="price">
                                    <span class="strong">17.8</span><span class="strong-color">元</span>
                                    <del>20元</del>
                                    <span class="line-right">
                                        已售44160
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/28721802"
                        data-stid="019032296837928515275757042931456002187_c10_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="28721802">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/1fd90dceacde184b378daa7283970904150612.jpg"
                                data-src-high="//p0.meituan.net/200.0/deal/1fd90dceacde184b378daa7283970904150612.jpg"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">辛明堂洞韩式芝士年糕火锅</div>

                                <div class="title text-block">[万达广场]年糕火锅2人套餐</div>
                                <div class="price">
                                    <span class="strong">68</span><span class="strong-color">元</span>
                                    <del>152元</del>
                                    <span class="line-right">
                                        已售66987
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/610498420"
                        data-stid="081153232802528897314002980212735700434_c11_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="610498420">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/c121447eb4b6a4066e94e419e233c39d133911.jpg"
                                data-src-high="//p0.meituan.net/200.0/deal/c121447eb4b6a4066e94e419e233c39d133911.jpg"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">十里香牛杂煲</div>

                                <div class="title text-block">[龙洞]2-3人中煲套餐</div>
                                <div class="price">
                                    <span class="strong">113</span><span class="strong-color">元</span>
                                    <del>131元</del>
                                    <span class="line-right">
                                        已售806
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/52450778"
                        data-stid="019032296837928515275757042931456002187_c12_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="52450778">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/23f6a54f6656053c6aa06b9eafce44c9216292.jpg@120_0_480_480a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/23f6a54f6656053c6aa06b9eafce44c9216292.jpg@120_0_480_480a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">遇见小面</div>

                                <div class="title text-block">[31店通用]小小酸辣粉1份</div>
                                <div class="price">
                                    <span class="strong">5.99</span><span class="strong-color">元</span>
                                    <del>9元</del>
                                    <span class="line-right">
                                        已售54115
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/43542752"
                        data-stid="019032296837928515275757042931456002187_c13_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="43542752">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/994ed1b8770caddf77b60a4c9eded95b44635.jpg@157_0_486_486a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/994ed1b8770caddf77b60a4c9eded95b44635.jpg@157_0_486_486a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">弘善素食</div>

                                <div class="title text-block">[市桥]中西素食自助餐</div>
                                <div class="price">
                                    <span class="strong">19.8</span><span class="strong-color">元</span>
                                    <del>22元</del>
                                    <span class="line-right">
                                        已售97526
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/27980939"
                        data-stid="019032296837928515275757042931456002187_c14_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="27980939">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/a8ebb15445c3c047eebe542d7ca2faeb102095.jpg@267h_267w_2e_100Q"
                                data-src-high="//p0.meituan.net/200.0/deal/a8ebb15445c3c047eebe542d7ca2faeb102095.jpg@267h_267w_2e_100Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">蒙肥羊自助餐厅</div>

                                <div class="title text-block">[3店通用]全天通用自助餐</div>
                                <div class="price">
                                    <span class="strong">72</span><span class="strong-color">元</span>
                                    <del>78元</del>
                                    <span class="line-right">
                                        已售567756
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/41536102"
                        data-stid="019032296837928515275757042931456002187_c15_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="41536102">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/cae8ed7a2781a306ed7a17c03f1fa65296016.jpg"
                                data-src-high="//p0.meituan.net/200.0/deal/cae8ed7a2781a306ed7a17c03f1fa65296016.jpg"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">一碌木寿司</div>

                                <div class="title text-block">[广州等]平日通用自助</div>
                                <div class="price">
                                    <span class="strong">55</span><span class="strong-color">元</span>
                                    <del>79元</del>
                                    <span class="line-right">
                                        已售103862
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/44102519"
                        data-stid="019032296837928515275757042931456002187_c16_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="44102519">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/724e30d2b7b75a4277e150a8dea86745160529.jpg@420_0_1080_1080a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/724e30d2b7b75a4277e150a8dea86745160529.jpg@420_0_1080_1080a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">四海一家</div>

                                <div class="title text-block">[长隆/南村/万达]周一至周四晚餐</div>
                                <div class="price">
                                    <span class="strong">163</span><span class="strong-color">元</span>
                                    <del>198元</del>
                                    <span class="line-right">
                                        已售141282
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/25243850"
                        data-stid="019032296837928515275757042931456002187_c17_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="25243850">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/4e833333765d28d2753f77fd0d4985a91737386.jpg@656_0_2624_2624a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/4e833333765d28d2753f77fd0d4985a91737386.jpg@656_0_2624_2624a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">十分牛焰火牛排</div>

                                <div class="title text-block">[北京路商业区]牛排2人餐，免费WiFi</div>
                                <div class="price">
                                    <span class="strong">159</span><span class="strong-color">元</span>
                                    <span class="tag">立减48元</span>
                                    <span class="line-right">
                                        已售206009
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/607406559"
                        data-stid="081153232802528897314002980212735700434_c18_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="607406559">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/87738a623c52d22b20f1af46a8c0949f175565.jpg@122_0_731_731a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/87738a623c52d22b20f1af46a8c0949f175565.jpg@122_0_731_731a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">豫江南</div>

                                <div class="title text-block">[5店通用]超值2人餐，包间免费</div>
                                <div class="price">
                                    <span class="strong">79</span><span class="strong-color">元</span>
                                    <del>115.9元</del>
                                    <span class="line-right">
                                        已售2030
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/47777068"
                        data-stid="019032296837928515275757042931456002187_c19_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="47777068">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/cc969979238198246a83da71d3fd8e05339256.jpg@75_0_450_450a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/cc969979238198246a83da71d3fd8e05339256.jpg@75_0_450_450a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">尊宝比萨</div>

                                <div class="title text-block">[广州等]单人套餐</div>
                                <div class="price">
                                    <span class="strong">26</span><span class="strong-color">元</span>
                                    <del>41元</del>
                                    <span class="line-right">
                                        已售111237
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/44811943"
                        data-stid="019032296837928515275757042931456002187_c20_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="44811943">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/d45724965a4a612d5b98755ee3f40b0259909.jpg@97_0_381_381a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/d45724965a4a612d5b98755ee3f40b0259909.jpg@97_0_381_381a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">赖胖子肉蟹煲</div>

                                <div class="title text-block">[白云大道沿线]100元代金券1张</div>
                                <div class="price">
                                    <span class="strong">95</span><span class="strong-color">元</span>
                                    <del>100元</del>
                                    <span class="line-right">
                                        已售9011
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//i.meituan.com/deal/47389076.html"
                        data-stid="019032296837928515275757042931456002187_c21_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="47389076">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/dpdeal/a08ce25fde3e270c3118245294bbd23d434851.png"
                                data-src-high="//p1.meituan.net/200.0/dpdeal/a08ce25fde3e270c3118245294bbd23d434851.png"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">大世界保龄球馆</div>

                                <div class="title text-block">[体育中心]休闲时段双人保龄球套餐</div>
                                <div class="price">
                                    <span class="strong">56.5</span><span class="strong-color">元</span>
                                    <del>110元</del>
                                    <span class="line-right">
                                        已售34136
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/40721366"
                        data-stid="019032296837928515275757042931456002187_c22_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="40721366">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/fc40f6885082d3414c98d77d50bee3d7204663.jpg@200_0_800_800a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/fc40f6885082d3414c98d77d50bee3d7204663.jpg@200_0_800_800a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">嘿牛烤肉料理</div>

                                <div class="title text-block">[3店通用]全新双人品质套餐</div>
                                <div class="price">
                                    <span class="strong">128</span><span class="strong-color">元</span>
                                    <del>226元</del>
                                    <span class="line-right">
                                        已售26008
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/54313479"
                        data-stid="081153232802528897314002980212735700434_c23_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="54313479">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/d53ea41278d281120780a1e69aa8444150332.jpg@231_0_594_594a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/d53ea41278d281120780a1e69aa8444150332.jpg@231_0_594_594a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">正新鸡排</div>

                                <div class="title text-block">[广州等]正新鸡排1份</div>
                                <div class="price">
                                    <span class="strong">10.9</span><span class="strong-color">元</span>
                                    <del>15元</del>
                                    <span class="line-right">
                                        已售734155
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/607575389"
                        data-stid="081153232802528897314002980212735700434_c24_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="607575389">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/c96cfa510377c6f37e5c5612fa91a14630865.jpg@120_0_400_400a%7C267h_267w_2e_100Q"
                                data-src-high="//p1.meituan.net/200.0/deal/c96cfa510377c6f37e5c5612fa91a14630865.jpg@120_0_400_400a%7C267h_267w_2e_100Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">蜜雪冰城</div>

                                <div class="title text-block">[740店通用]魔天脆脆1支</div>
                                <div class="price">
                                    <span class="strong">2</span><span class="strong-color">元</span>
                                    <del>3元</del>
                                    <span class="line-right">
                                        已售132085
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/40272010"
                        data-stid="019032296837928515275757042931456002187_c25_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="40272010">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/96e016626996de0e32902cc19773798c61730.jpg@141_0_420_420a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/96e016626996de0e32902cc19773798c61730.jpg@141_0_420_420a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">淼福猪肚鸡</div>

                                <div class="title text-block">[5店通用]温馨二人餐，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">98</span><span class="strong-color">元</span>
                                    <del>132元</del>
                                    <span class="line-right">
                                        已售27244
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/7625914"
                        data-stid="019032296837928515275757042931456002187_c26_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="7625914">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/e4078cdbeaff27a2c769bd1a6c4681ed28913.jpg@268_0_749_749a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/e4078cdbeaff27a2c769bd1a6c4681ed28913.jpg@268_0_749_749a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">满汉三汁焖锅</div>

                                <div class="title text-block">[3店通用]满汉三汁焖锅，2人餐</div>
                                <div class="price">
                                    <span class="strong">35.9</span><span class="strong-color">元</span>
                                    <del>65元</del>
                                    <span class="line-right">
                                        已售52246
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/40950346"
                        data-stid="019032296837928515275757042931456002187_c27_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="40950346">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/846fba0445689b5e2c118e6ecdf8b51327724.jpg@126_0_387_387a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/846fba0445689b5e2c118e6ecdf8b51327724.jpg@126_0_387_387a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">探炉烤鱼</div>

                                <div class="title text-block">[客村/赤岗]烤鱼2-3人餐，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">138</span><span class="strong-color">元</span>
                                    <del>194元</del>
                                    <span class="line-right">
                                        已售17963
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/52623539"
                        data-stid="019032296837928515275757042931456002187_c28_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="52623539">
                            <div class="dealcard-img imgbox"
                                data-src="//p1.meituan.net/100.0/deal/5390f7754a6f44d2a9fb07c28657bec960195.jpg@100_0_599_599a%7C267h_267w_2e_90Q"
                                data-src-high="//p1.meituan.net/200.0/deal/5390f7754a6f44d2a9fb07c28657bec960195.jpg@100_0_599_599a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">牛扒先生</div>

                                <div class="title text-block">[9店通用]澳洲谷饲牛扒套餐，建议2人使用</div>
                                <div class="price">
                                    <span class="strong">116</span><span class="strong-color">元</span>
                                    <del>320元</del>
                                    <span class="line-right">
                                        已售24714
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd>
                    <a href="//meishi.meituan.com/i/deal/38997757"
                        data-stid="019032296837928515275757042931456002187_c29_ec44f9f60092cf70ba682f0eaafcaaacf"
                        gaevent="imt/homepage/guess" class="react ">
                        <div class="dealcard" data-did="38997757">
                            <div class="dealcard-img imgbox"
                                data-src="//p0.meituan.net/100.0/deal/3b36bef6ea3ebdf4673aa4334b95688b564879.jpg@384_0_1536_1536a%7C267h_267w_2e_90Q"
                                data-src-high="//p0.meituan.net/200.0/deal/3b36bef6ea3ebdf4673aa4334b95688b564879.jpg@384_0_1536_1536a%7C267h_267w_2e_90Q"
                                data-com="unveil"></div>
                            <div class="dealcard-block-right">
                                <div class="dealcard-brand single-line">探蟹肉蟹煲</div>

                                <div class="title text-block">[广州等]豪华两人套餐，提供免费WiFi</div>
                                <div class="price">
                                    <span class="strong">138</span><span class="strong-color">元</span>
                                    <del>184元</del>
                                    <span class="line-right">
                                        已售237207
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </dd>
            </dl>
        </dd>
        <dd class="db">
            <a class="react " href="//i.meituan.com/guangzhou/all/" data-stid_b="4" gaevent="imt/homepage/allcate">
                <div class="more">查看全部团购</div>
            </a>
        </dd>
    </dl>
</div>